@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ash: #9ba3ae;
  --frost: #ffffff;
  --rust: #f5603c;
  --voltage: #5eccba;
  --win: #4cf8a5;
  --loss: #fa6e6e;
  --caution: #ffc56d;
  --slate: #222830;
  --slate50: #22283080;
  --darkslate: #10141a;
  --obsidian: #0e1115;
  --graphite: #14181e;
  --graphitergba: rgb(20, 24, 30);

  --riotRed: #D42B2B;
}

html {
  background-color: #0e1115 !important;
  color: #fafafa !important;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5603c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-topnavbar-menu {
  border-bottom: 3px solid #f5603c;
  color: #f5603c;
}

.loginForm {
  background: var(--graphite)
}

.loginButton {
  background: linear-gradient(95deg, #386b6a 0%, #5eccba 100%);
  border-radius: 10px 0px 0px 0px;
}

.registerButton {
  background: linear-gradient(95deg, #f5603c 0%, #5b2a20 100%);
  border-radius: 0px 10px 0px 0px;
}


.registerButton {
  background: linear-gradient(95deg, #f5603c 0%, #5b2a20 100%);
  border-radius: 0px 10px 0px 0px;
}

.stats-percentile-bar::-webkit-progress-value {
  background-color: #ffffffbb !important;
}

.gameRowLeftLineMiddle {
  position: relative;
}

.gameRowLeftLineMiddle::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 100%;
  left: -1%;
  top: 0%;
  border-left: 5px solid var(--slate);
  padding: 0 0.8em 0 0;
}

.gameRowLeftLineTop {
  position: relative;
}

/* .gameRowLeftLineTop::before {
  content: "";
  position: absolute;
  vertical-align: middle;
  left: -7.25%;
  top: 25%;
  padding: 0 0.8em 0 0;
  height: 50%;
  width: 5%;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
} */

.gameRowLeftLineTop::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 50%;
  left: -5%;
  top: 50%;
  border-left: 3px solid white;
  padding: 0 0.8em 0 0;
}

.gameRowLeftLineBottom {
  position: relative;
}

.gameRowLeftLineBottom::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 75%;
  left: -5%;
  top: -25%;
  border-left: 3px solid white;
  padding: 0 0.8em 0 0;
}

select.bg-transparent > option {
  background-color: #1c2c3f;
}

select.transparent > option:checked {
  background-color: #f5603c !important;
}

select.transparent > option {
  background-color: #ffffff00;
  color: white;
}

.error-message {
  color: red;
  font-weight: 500;
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

/* ROUNDS MATCH OVERVIEW */

.round-tab {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: var(--graphite);
  border-radius: 0.25em;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border: var(--slate) 1px solid;
}

.round-tab:hover {
  transform: scale(1.03);
}

.round-tab-active {
  border-top: 3px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.minimap-filter {
  filter: hue-rotate(360deg) saturate(500%) contrast(140%)
    drop-shadow(10px 10px 9px #000000);
  margin: auto;
  width: 95%;
  justify-self: center;
  align-self: center;
}

.stat-header {
  font-size: 0.75em;
  font-weight: bold;
  color: rgb(183, 183, 183);
}

.stat-content {
  font-size: 1.25em;
  font-weight: bolder;
  color: white;
}

.border-red {
  border: var(--rust) 2px solid;
}

.border-blue {
  border: var(--voltage) 2px solid;
}

.border-gold {
  border: #FFE57B 2px solid;
}

/* GENERAL STUFF */

.text-ash {
  color: var(--ash) !important;
}

.text-frost {
  color: var(--frost) !important;
}

.text-rust {
  color: var(--rust) !important;
}

.text-voltage {
  color: var(--voltage) !important;
}

.text-gold {
  color: #FFE57B !important;
}

.text-win {
  color: var(--win) !important;
}

.text-loss {
  color: var(--loss) !important;
}

.text-caution {
  color: var(--caution) !important;
}

.text-slate {
  color: var(--slate) !important;
}

.back-riot {
  background-color: var(--riotRed) !important;
}

.back-slate {
  background-color: var(--slate) !important;
}

.back-darkslate {
  background-color: var(--darkslate) !important;
}

.back-obsidian {
  background-color: var(--obsidian) !important;
}

.back-graphite {
  background-color: var(--graphite) !important;
}

.back-rust {
  background-color: var(--rust) !important;
}

.back-voltage {
  background-color: var(--voltage) !important;
}

.back-3rd {
  background-image: linear-gradient(to right, #c8965c, #ffcc90, #c8965c);
}

.back-3rd p {
  color: var(--obsidian) !important;
}

.back-2nd {
  background-image: linear-gradient(to right, #a6b7d2, #d6e6ff, #a6b7d2);
}

.back-2nd p {
  color: var(--obsidian) !important;
}

.back-mvp {
  /* background-image: linear-gradient(to right, #5BA5FD, #D662FC, #FA955D); */
  display: flex;
  position: relative;
  justify-content: center;
  width: 75%;
  height: 2em;
  overflow: hidden;
}

.back-mvp::before {
  width: 100%;
  height: 100%;
  content: "";
  background-image: conic-gradient(
    from 0deg at 45% 47%,
    #ff00d800 22%,
    #5ba5fd 25%,
    #d662fc 28%,
    #fa955d 31%,
    #073aff00 35%,
    #073aff00 72%,
    #5ba5fd 76%,
    #d662fc 79%,
    #fa955d 82%,
    #073aff00 85%
  );
  position: absolute;
  animation: rotate 12s linear infinite;
}

.back-mvp::after {
  content: "MATCH MVP";
  color: var(--frost);
  background-image: linear-gradient(to right, #5ba5fd, #d662fc, #fa955d);
  margin: 1%;
  position: absolute;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 94%;
  border: var(--graphite) 3px solid;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-image {
  border-radius: 1em 0;
}

.cut-corner-45 {
  transform: skewX(-40deg);
}

.cut-corner-45-special {
  transform: skewX(-40deg);
}

.cut-corner-45-right {
  transform: skewX(-40deg);
}

/* MAIN NAV */

.nav-grid {
  height: 100%;
  grid-template-rows: 8em 2fr 5em;
}

.coming-soon {
  opacity: 0.5;
}

.coming-soon::after {
  content: "Coming Soon";
  font-size: 0.65em;
  align-self: center;
  justify-self: end;
  right: 25px;
  position: absolute;
}

.coming-soon-new-line {
  opacity: 0.5;
}

.coming-soon-new-line::after {
  content: "Coming Soon";
  font-size: 0.65em;
  align-self: center;
  justify-self: end;
  bottom: 3px;
  position: absolute;
}

.checkbox-signup{
  accent-color: var(--obsidian);
}

.nav-hover:hover {
  background-color: var(--slate50);
}

.nav-active {
  background-color: var(--slate);
  border-radius: 0.5em;
  color: var(--frost);
}

.nav-hover:hover > svg,
.nav-active > svg {
  color: var(--voltage);
}

.background-nav {
  background-image: url(../../public/dashboard/d86d23013e855b90786b26acb862731d.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-gradient {
  background: linear-gradient(0deg, var(--graphite) 35%, #0000005e 80%);
}

.nav-border-top {
  border-top: var(--slate) 2px solid;
}

.signup-button {
  background-color: var(--slate);
}

.signup-button:hover {
  background-color: var(--darkslate);
}

.login-button {
}

/* DASHBOARD NAV */

.progress-voltage::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    var(--voltage),
    #b6fff3
  ) !important;
  /* box-shadow: 0px 0px 20px 2px #5ECCBA9A !important; */
  /* transform: skew(-45deg); */
  border-right: var(--frost) 2px solid;
}

.progress-voltage::-webkit-progress-bar {
  background-color: var(--slate) !important;
}

.progress-rust::-webkit-progress-value {
  background-image: linear-gradient(to right, #e2941d, #ffc669) !important;
  /* box-shadow: 0px 0px 20px 2px #5ECCBA9A !important; */
  /* transform: skew(-45deg); */
  border-right: var(--frost) 2px solid;
}

.progress-rust::-webkit-progress-bar {
  background-color: var(--slate) !important;
}

.dashfilter > input {
  background-color: var(--graphite) !important;
  border: none;
}

.dashfilter > select {
  background-color: var(--graphite) !important;
  border: none;
  appearance: none;
  width: 100%;
  padding: 0.675em 6em 0.675em 1em;
  cursor: pointer;
}

.filter-item-input {
  background-color: var(--graphite) !important;
  border: none;
}

.filter-item-select {
  background-color: var(--graphite) !important;
  border: none;
  appearance: none;
  width: 100%;
  padding: 0.675em 6em 0.675em 1em;
  cursor: pointer;
}

.glow-text-white {
  text-shadow: 0px 0px 13px #fff, 0px 0px 0px #ccc;
}

.medal-notif {
  box-shadow: 0px 0px 10px 0px #f5603c9a;
}

.nav-move-bar {
  transform: translateY(10px);
  position: absolute;
  align-self: flex-end;
  justify-self: center;
  transition: 0.33s;
  border: none;
  border-radius: 0.5em;
  left: var(--move-bar);
}

.dashnav {
  position: relative;
  transition: 0.5s;
  --move-bar: 30px;
}

.dashnav li.active {
  color: var(--frost) !important;
  text-shadow: 0px 0px 13px #fff, 0px 0px 0px #ccc !important;
}

/* GAME BLOCKS */

.game-border-r {
  border-right: var(--graphite) 2px solid;
}

.game-row-border {
  border: var(--slate) 1px solid;
}

.game-row-border-special {
  border-top: var(--slate) 1px solid;
  border-right: var(--slate) 1px solid;
  border-left: var(--slate) 1px solid;
}

.game-row-border-special2 {
  border-bottom: var(--slate) 1px solid;
  border-right: var(--slate) 1px solid;
  border-left: var(--slate) 1px solid;
}

.game-row-border-top {
  border-top: var(--slate) 1px solid;
}

.game-row-border-right {
  border-right: var(--slate) 1px solid;
}

.game-row-win {
  background: linear-gradient(
    90deg,
    var(--win) 2%,
    rgba(255, 255, 255, 0) 8%,
    #14181ebd 11%,
    var(--graphite) 20%,
    var(--graphite) 100%
  );
}

.game-row-loss {
  background: linear-gradient(
    90deg,
    var(--loss) 2%,
    rgba(255, 255, 255, 0) 8%,
    #14181ebd 11%,
    var(--graphite) 20%,
    var(--graphite) 100%
  );
}

.game-row-draw {
  background: linear-gradient(
    90deg,
    rgb(230, 230, 230) 2%,
    rgba(255, 255, 255, 0) 8%,
    #14181ebd 11%,
    var(--graphite) 20%,
    var(--graphite) 100%
  );
}

/* AGENT BOXES */

.map-gradient {
  background: linear-gradient(0deg, var(--graphite) 1%, #0000005e 80%);
}

.agent-box-gradient {
  background: linear-gradient(270deg, var(--graphite) 1%, #0000005e 80%);
}

.gradient-agent-overlay {
  position: absolute;
  z-index: 1;
  background: linear-gradient(0deg, var(--graphite) 2%, #00000000 25%);
}

.best-map-box {
  background-color: var(--obsidian);
  border-radius: 0.5em;
  align-content: center;
  justify-content: space-evenly;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 9em;
  width: auto;
}

.stat-percent-box {
  background-color: var(--obsidian);
  border-radius: 0.5em;
  display: grid;
  align-content: center;
  justify-content: center;
  margin-right: 2em;
}

/* STATS */

.stat-box {
  background-color: var(--graphite) !important;
  border: var(--slate) 1px solid;
}

/* MEDALS TAB */

.medal-nav-button {
  border-radius: 0.25em;
  color: var(--ash);
  font-size: 1.25em;
  font-weight: 600;
  width: 100%;
  height: 3em;
  cursor: pointer;
  align-content: center;
  padding: 0% 5%;
}

.medal-nav-button:hover {
  background-color: var(--darkslate);
}

.medal-nav-active {
  background-color: var(--slate);
  color: var(--frost);
}

.medal-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.medal-row-tier {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.text-gold {
  color: #ffc669;
}

.medal-tier-line-up {
  margin: 0 0.4em;
  position: absolute;
  width: 2px;
  height: 110%;
  background-color: var(--slate);
  border: none;
  top: 0;
  left: 50%;
  transform: translateY(-40%);
}
.medal-tier-line-side {
  margin: 0 0.4em;
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: var(--slate);
  border: none;
  top: 50%;
  left: 50%;
}

.medal-tier-complete {
  position: absolute;
  transform: translateY(-0.75em);
  width: 1.5em;
  height: 1.5em;
  top: 50%;
  left: 90%;
  background-color: var(--voltage);
  border: var(--slate) 3px solid;
  border-radius: 50%;
  align-content: center;
}

.medal-tier-locked {
  position: absolute;
  transform: translateY(-0.75em);
  width: 1.5em;
  height: 1.5em;
  top: 50%;
  left: 90%;
  background-color: var(--slate);
  border: var(--slate) 3px solid;
  border-radius: 50%;
  align-content: center;
}

.ellipsis-hover:hover {
  color: var(--frost) !important;
  transform: scale(1.05);
}

.carot-hover:hover > svg {
  color: var(--frost) !important;
  transform: scale(1.15);
}

.display-button {
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.display-button-hover:hover {
  background-color: var(--slate);
}

.button-inactive {
  opacity: 0.5;
  cursor: default;
}

/* EVENTS PAGE */

.leaderboard-grid {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 1350px) {
  .leaderboard-grid {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .doNotShrink {
    font-size: 1.5em;
  }
}

.first {
  color: #ffe57b;
  background-image: linear-gradient(
    132deg,
    #ffe57b -70%,
    rgba(0, 212, 255, 0) 60%
  );
}

.second {
  color: #c0dfeb;
  background-image: linear-gradient(
    132deg,
    #c0dfeb -70%,
    rgba(0, 212, 255, 0) 60%
  );
}

.third {
  color: #df7f5c;
  background-image: linear-gradient(
    132deg,
    #df7f5c -70%,
    rgba(0, 212, 255, 0) 60%
  );
}

.border-right {
  border-right: var(--slate) 2px solid;
}

.prize-glow {
  box-shadow: 0px 0px 20px 0px #21945a;
}

.event-gradient {
  background-image: linear-gradient(0deg, var(--graphite) 1%, #0000005e 50%);
}

/* SETTINGS */

.settings-nav-button:hover {
  background-color: var(--darkslate);
}

.action-button {
  background-color: var(--rust);
  border-radius: 0.5em;
  padding: 0.25em 2em;
  height: 3em;
  margin: auto;
  font-weight: bold;
  color: var(--frost);
}

.action-button-nobg {
  border-radius: 0.5em;
  padding: 0.25em 2em;
  height: 3em;
  margin: auto;
  font-weight: bold;
  color: var(--frost);
}

.higher-res {
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;
}


.back-sub {
  border-image: linear-gradient(to right, #5ba5fd 0%, #d662fc 50%, #fa955d 100%) 1;
  /* border-image: linear-gradient(to right,
    #5ba5fd 10%,
    #d662fc 20%,
    #fa955d 30%,
    #5ba5fd 40%,
    #d662fc 50%,
    #fa955d 100%,
  ); */
  border-width: 4px;
  border-style: solid;
}

.back-sub::after {
  filter: blur(3px);
}


/* MATCH OVERVIEW */

.match-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .25fr;
}

.highscore-back {
  /* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,205,55,1) 0%, rgba(255,255,255,0) 100%);
  background-position: 0%; */
  color: #FFE57B;
}


.matchRowLeftBorderBlue {
  position: relative;
}

.matchRowLeftBorderBlue::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 100%;
  left: -1%;
  top: 0%;
  border-left: 5px solid var(--voltage);
  border-radius: 0.5em;
}

.matchRowBottomBorderBlue {
  position: relative;
}

.matchRowBottomBorderBlue::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  bottom: -5%;
  left: 0%;
  border-bottom: 5px solid var(--voltage);
  border-radius: 0.5em;
}

.matchRowTopBorderRed {
  position: relative;
}

.matchRowTopBorderRed::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  top: -5%;
  left: 0%;
  border-top: 5px solid var(--rust);
  border-radius: 0.5em;
}

.matchRowLeftBorderRed {
  position: relative;
}

.matchRowLeftBorderRed::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 100%;
  left: -1%;
  top: 0%;
  border-left: 5px solid var(--rust);
  border-radius: 0.5em;
}

.matchRowRightBorderRed {
  position: relative;
}

.matchRowRightBorderRed::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 100%;
  right: 5%;
  top: 0%;
  border-right: 5px solid var(--rust);
  border-radius: 0.5em;
}

.user-back-match {
  background-image: linear-gradient(to right, #2B3442 0%, var(--graphite) 30%);
}

.user-back-timeline {
  background-image: linear-gradient(to right, #2B3442 0%, var(--graphite) 90%);
}


.thin-scrollbar {
  scrollbar-width: thin !important;
}