@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --ash: #9BA3AE;
  --frost: #FFFFFF;
  --rust: #F5603C;
  --voltage: #5ECCBA;
  --win: #4CF8A5;
  --loss: #FA6E6E;
  --caution: #FFC56D;
  --slate: #222830;
  --slate50: #22283080;
  --darkslate: #10141A;
  --obsidian: #0E1115;
  --graphite: #14181E;
  --graphitergba: rgb(20, 24, 30);
}


html {
  background-color: #0E1115 !important;
  color: #fafafa !important;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5603c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-topnavbar-menu {
  border-bottom: 3px solid #f5603c;
  color: #f5603c;
}

.loginForm {
  background: linear-gradient(144deg, #2d4764 0%, #0c131d 100%);
}

.loginButton {
  background: linear-gradient(95deg, #386b6a 0%, #5eccba 100%);
  border-radius: 10px 0px 0px 0px;
}

.registerButton {
  background: linear-gradient(95deg, #f5603c 0%, #5b2a20 100%);
  border-radius: 0px 10px 0px 0px;
}

.registerButton {
  background: linear-gradient(95deg, #f5603c 0%, #5b2a20 100%);
  border-radius: 0px 10px 0px 0px;
}

.stats-percentile-bar::-webkit-progress-value {
  background-color: #ffffffbb !important;
}

.gameRowLeftLineMiddle {
  position: relative;
}

.gameRowLeftLineMiddle::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 100%;
  left: -1%;
  top: 0%;
  border-left: 5px solid var(--slate);
  padding: 0 0.8em 0 0;
}


.gameRowLeftLineTop {
  position: relative;
}

/* .gameRowLeftLineTop::before {
  content: "";
  position: absolute;
  vertical-align: middle;
  left: -7.25%;
  top: 25%;
  padding: 0 0.8em 0 0;
  height: 50%;
  width: 5%;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
} */

.gameRowLeftLineTop::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 50%;
  left: -5%;
  top: 50%;
  border-left: 3px solid white;
  padding: 0 0.8em 0 0;
}


.gameRowLeftLineBottom {
  position: relative;
}

.gameRowLeftLineBottom::after {
  content: "";
  display: inline;
  position: absolute;
  vertical-align: middle;
  height: 75%;
  left: -5%;
  top: -25%;
  border-left: 3px solid white;
  padding: 0 0.8em 0 0;
}


select.bg-transparent>option {
  background-color: #1c2c3f;
}

select.transparent>option:checked {
  background-color: #f5603c !important;
}

select.transparent>option {
  background-color: #ffffff00;
  color: white;
}

.error-message {
  color: red;
  font-weight: 500;
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}


/* ROUNDS MATCH OVERVIEW */

.round-tab {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  width: 75px;
  background: linear-gradient(55deg, #1E2835 50%, #1d242f 50%);
  margin: 1% 10px;
  border-radius: 0.25em;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.round-tab:hover {
  transform: scale(1.05);
}

.round-tab-active {
  border-width: 5px !important;
  background: linear-gradient(55deg, #1c2c3f 50%, #253247 50%);
}

.minimap-filter {
  filter: hue-rotate(360deg) saturate(500%) contrast(140%) drop-shadow(10px 10px 9px #000000);
  margin: auto;
  width: 95%;
  justify-self: center;
  align-self: center;
}

.stat-header {
  font-size: .75em;
  font-weight: bold;
  color: rgb(183, 183, 183);
}

.stat-content {
  font-size: 1.25em;
  font-weight: bolder;
  color: white;
}

.stat-box-border {
  border-radius: 2rem 2rem / 2rem 0% !important;
}

.text-ash {
  color: var(--ash) !important;
}

.text-frost {
  color: var(--frost)  !important;
}

.text-rust {
  color: var(--rust)  !important;
}

.text-voltage {
  color: var(--voltage)  !important;
}

.text-win {
  color: var(--win)  !important;
}

.text-loss {
  color: var(--loss)  !important;
}

.text-caution {
  color: var(--caution)  !important;
}

.back-slate {
  background-color: var(--slate)  !important;
}

.back-darkslate {
  background-color: var(--darkslate)  !important;
}

.back-obsidian {
  background-color: var(--obsidian)  !important;
}

.back-graphite {
  background-color: var(--graphite)  !important;
}

.back-rust {
  background-color: var(--rust)  !important;
}

.back-voltage {
  background-color: var(--voltage)  !important;
}


.back-3rd {
  background-image: linear-gradient(to right, #C8965C, #FFCC90, #C8965C);
}

.back-3rd p {
  color: var(--obsidian) !important;
}

.back-2nd {
  background-image: linear-gradient(to right, #A6B7D2, #D6E6FF, #A6B7D2);
}

.back-2nd p {
  color: var(--obsidian) !important;
}

.back-mvp {
  /* background-image: linear-gradient(to right, #5BA5FD, #D662FC, #FA955D); */
  display: flex;
  position: relative;
  justify-content: center;
  width: 75%;
  height: 2em;
  overflow: hidden;
}

.back-mvp::before {
  width: 100%;
  height: 100%;
  content: "";
  background-image: conic-gradient(from 0deg at 45% 47%, #FF00D800 22%, #5BA5FD 25%, #D662FC 28%, #FA955D 31%, #073AFF00 35%, #073AFF00 72%, #5BA5FD 76%, #D662FC 79%, #FA955D 82%, #073AFF00 85%);
  position: absolute;
  animation: rotate 12s linear infinite;
}

.back-mvp::after {
  content: 'MATCH MVP';
  color: var(--frost);
  background-image: linear-gradient(to right, #5BA5FD, #D662FC, #FA955D);
  margin: 1%;
  position: absolute;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 94%;
  border: var(--graphite) 3px solid;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.cut-corner-45 {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 5% 5%);
  clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 5% 5%);
}

.cut-corner-45-right {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 0% 5%);
  clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 0% 5%);
}

/* MAIN NAV */ 

.nav-grid {
  height: 100%;
  grid-template-rows: 8em 2fr 5em;
}

.coming-soon {
  opacity: 0.5;
}

.coming-soon::after {
  content: 'Coming Soon';
  font-size: 0.65em;
    align-self: center;
    justify-self: end;
    right: 25px;
    position: absolute;
}

.nav-hover:hover {
  background-color: var(--slate50);
}

.nav-active {
  background-color: var(--slate);
  border-radius: 0.5em;
  color: var(--frost)
}

.nav-hover:hover > svg ,
.nav-active > svg {
  color: var(--voltage)
}

.background-nav {
  background-image: url(../../public/dashboard/d86d23013e855b90786b26acb862731d.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-gradient {
  background: linear-gradient(0deg, var(--graphite) 35%, #0000005e 80%);;
}

.nav-border-top {
  border-top: var(--slate) 2px solid;
}

.signup-button{
  background-color: var(--slate);
}

.signup-button:hover {
  background-color: var(--darkslate);
}

.login-button {

}

/* DASHBOARD NAV */

.progress-voltage::-webkit-progress-value {
  background-image: linear-gradient(to right, var(--voltage), #B6FFF3) !important;
  /* box-shadow: 0px 0px 20px 2px #5ECCBA9A !important; */
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 0% 5%);
  clip-path: polygon(0% 100%, 100% 100%, 95% 100%, 100% 0%, 0% 5%);
}

.progress-voltage::-webkit-progress-bar {
  background-color: var(--slate) !important;
}

.dashfilter > input {
  background-color: var(--graphite) !important;
  border: none;
}

.dashfilter > select {
  background-color: var(--graphite) !important;
  border: none;
  appearance: none;
  width: 100%;
  padding: 0.675em 6em 0.675em 1em;
  cursor: pointer;
}



.glow-text-white {
  text-shadow:0px 0px 13px #fff, 0px 0px 0px #ccc;
}

.medal-notif {
  box-shadow: 0px 0px 10px 0px #F5603C9A;
}

.nav-move-bar {
  transform: translateY(10px);
  position: absolute;
  align-self: flex-end;
  justify-self: center;
  transition: .33s;
  border: none;
  border-radius: .5em;
  left: var(--move-bar);
}

.dashnav {
  position: relative;
  transition: .5s;
  --move-bar: 30px;
}

.dashnav li.active {
  color: var(--frost) !important;
  text-shadow:0px 0px 13px #fff, 0px 0px 0px #ccc !important;
}


/* GAME BLOCKS */

.game-border-r {
  border-right: var(--graphite) 2px solid;
}

.game-row-border {
  border: var(--slate) 1px solid;
}

.game-row-border-special {
  border-top: var(--slate) 1px solid;
  border-right: var(--slate) 1px solid;
  border-left: var(--slate) 1px solid;
}

.game-row-border-special2 {
  border-bottom: var(--slate) 1px solid;
  border-right: var(--slate) 1px solid;
  border-left: var(--slate) 1px solid;
}

.game-row-border-top {
  border-top: var(--slate) 1px solid;
}

.game-row-border-right {
  border-right: var(--slate) 1px solid;
}

.game-row-win {
  background: linear-gradient(90deg, var(--win) 2%, rgba(255, 255, 255, 0) 8%, #14181ebd 11%, var(--graphite) 20%, var(--graphite) 100%);
}

.game-row-loss {
  background: linear-gradient(90deg, var(--loss) 2%, rgba(255, 255, 255, 0) 8%, #14181ebd 11%, var(--graphite) 20%, var(--graphite) 100%);
}

.game-row-draw {
  background: linear-gradient(90deg, rgb(230, 230, 230) 2%, rgba(255, 255, 255, 0) 8%, #14181ebd 11%, var(--graphite) 20%, var(--graphite) 100%);
}

/* AGENT BOXES */

.map-gradient {
  background: linear-gradient(0deg, var(--graphite) 1%, #0000005e 80%);;
}

.gradient-agent-overlay {
  position: absolute;
  z-index: 1;
  background: linear-gradient(0deg, var(--graphite) 2%, #00000000 25%);
}

.best-map-box {
  background-color: var(--obsidian);
  border-radius: 0.5em;
  align-content: center;
  justify-content: space-evenly;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 9em;
  width: auto;
}

.stat-percent-box {
  background-color: var(--obsidian);
  border-radius: 0.5em;
  display: grid;
  align-content: center;
  justify-content: center;
  margin-right: 2em;
}